<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] 
      bg-[conic-gradient(from_90deg_at_50%_50%,#fcff00_0%,#fef08a_50%,#facc15_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center px-6 py-3 text-base text-white-800 bg-white rounded-full 
      cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
