---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Actualmente...",
    title: "Easy Report",
    company: "Easy Report CR",
    description:
      "Como desarrollador, lideré la creación de un sistema completo para gestionar la asistencia y las notas en una escuela secundaria. Trabajé en estrecha colaboración con los usuarios para entender sus necesidades, diseñé la arquitectura del sistema y lo construí desde cero. Además, me encargué de integrar el sistema con los sistemas existentes de la escuela y de implementar medidas de seguridad sólidas para proteger la privacidad de los estudiantes. Este sistema mejoró la eficiencia administrativa y brindó una experiencia más fluida tanto para estudiantes como para el personal.",
    link: "#",
  },{
    date: "2024",
    title: "Sistema Control Activos",
    company: "ParallelDevs",
    description:
      ` Diseño e implementación de una plataforma en Drupal 10
 para la gestión integral de activos organizacionales. La
 solución permite centralizar y optimizar el registro,
 asignación, y monitoreo de activos a lo largo de su ciclo de
 vida. Enfocado en mejorar la eficiencia administrativa y la
 trazabilidad de los recursos, el sistema incluye opciones
 avanzadas de seguimiento y reportes, facilitando una
 administración ágil y una respuesta efectiva ante
 incidentes.`,
    link: "#",
  }
]
---

<ol class="relative mt-16" >
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
