---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "DESCONOCIDO",
    company: "DESCONOCIDO",
    description:
      "DESCONOCIDO",
    link: "#",
  },
 
]
---

<ol class="relative mt-16" >
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
