---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Actualmente...",
    title: "SIDRAN",
    company: "TCU-UCR",
    description:
      "Como desarrollador, lideré la creación de un sistema completo para gestionar la asistencia y las notas en una escuela secundaria. Trabajé en estrecha colaboración con los usuarios para entender sus necesidades, diseñé la arquitectura del sistema y lo construí desde cero. Además, me encargué de integrar el sistema con los sistemas existentes de la escuela y de implementar medidas de seguridad sólidas para proteger la privacidad de los estudiantes. Este sistema mejoró la eficiencia administrativa y brindó una experiencia más fluida tanto para estudiantes como para el personal.",
    link: "#",
  },{
    date: "Actualmente...",
    title: "DESCONOCIDO",
    company: "DESCONOCIDO",
    description:
      "DESCONOCIDO",
    link: "#",
  },
]
---

<ol class="relative mt-16" >
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
