---

---

<p class="mb-8 text-black-300 dark:text-gray-300">
  Siéntete libre de completar el formulario para contactarme con cualquier
  pregunta o consulta
</p>

<form id="contact-form" class="space-y-4">
  <input
    type="text"
    name="name"
    placeholder="Nombre"
    required
    class="w-full px-4 py-2 rounded bg-white text-black border border-black dark:bg-gray-800 dark:text-white dark:border-white"
  />
  <input
    type="email"
    name="email"
    placeholder="Correo"
    required
    class="w-full px-4 py-2 rounded bg-white text-black border border-black dark:bg-gray-800 dark:text-white dark:border-white"
  />
  <input
    type="text"
    name="subject"
    placeholder="Asunto"
    required
    class="w-full px-4 py-2 rounded bg-white text-black border border-black dark:bg-gray-800 dark:text-white dark:border-white"
  />
  <textarea
    name="message"
    placeholder="Mensaje"
    rows="5"
    required
    class="w-full px-4 py-2 rounded bg-white text-black border border-black dark:bg-gray-800 dark:text-white dark:border-white"
  ></textarea>
  <button
    type="submit"
    class="w-full dark:bg-gray-700 border border-black hover:bg-gray-700 7 hover:text-white dark:hover:bg-gray-300 dark:hover:text-black transition-colors px-4 py-2 rounded dark:border-white"
  >
    Enviar
  </button>
</form>

<p id="form-status" class="mt-4 text-sm text-green-400 hidden">
  Mensaje Enviado!
</p>

<div
  id="toast"
  class="fixed bottom-6 right-6 flex border border-black dark:border-white bg-white text-black item-center dark:bg-gray-900 dark:text-white px-4 py-2 rounded shadow-lg opacity-0 pointer-events-none transition-opacity duration-300 z-50"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="green"
    class="icon icon-tabler icons-tabler-filled icon-tabler-file-check"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
      d="M12 2l.117 .007a1 1 0 0 1 .876 .876l.007 .117v4l.005 .15a2 2 0 0 0 1.838 1.844l.157 .006h4l.117 .007a1 1 0 0 1 .876 .876l.007 .117v9a3 3 0 0 1 -2.824 2.995l-.176 .005h-10a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-14a3 3 0 0 1 2.824 -2.995l.176 -.005zm3.707 10.293a1 1 0 0 0 -1.414 0l-3.293 3.292l-1.293 -1.292a1 1 0 1 0 -1.414 1.414l2 2a1 1 0 0 0 1.414 0l4 -4a1 1 0 0 0 0 -1.414m-.707 -9.294l4 4.001h-4z"
    ></path></svg
  >
  ¡Correo copiado!
</div>

<div class="mt-6 text-sm dark:text-gray-400 flex items-center text-black">
  Si prefieres, puedes copiar mi correo electrónico y escribirme directamente:
  <span
    class="dark:bg-gray-800 border border-black text-black dark:text-white px-2 py-1 rounded ml-2"
    >luizargon25@gmail.com</span
  >
  <button
    id="copy-email-btn"
    class="dark:hover:text-white border border-black dark:bg-gray-800 px-3 py-1 rounded ml-2"
    type="submit"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="17"
      height="17"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-copy"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"
      ></path><path
        d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"
      ></path></svg
    >
  </button>
</div>

<script type="module">
  const form = document.querySelector("#contact-form");
  const status = document.querySelector("#form-status");

  const copyBtn = document.getElementById("copy-email-btn");
  const toast = document.getElementById("toast");

  copyBtn.addEventListener("click", async () => {
    await navigator.clipboard.writeText("luizargon25@gmail.com");
    toast.classList.remove("opacity-0", "pointer-events-none");
    setTimeout(() => {
      toast.classList.add("opacity-0", "pointer-events-none");
    }, 2000);
  });
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    let params = {
      name: form.name.value,
      email: form.email.value,
      subject: form.subject.value,
      message: form.message.value,
    };
    console.log(params);

    try {
      emailjs.send("service_s06soog", "template_ckys1cx", params).then(
        function (response) {
          console.log("SUCCESS!", response.status, response.text);
          form.reset();
          status.classList.remove("hidden");
          status.textContent = "Mensaje Enviado!";
          status.classList.remove("text-red-400");
          status.classList.add("text-green-400");
          setTimeout(() => {
            status.classList.add("hidden");
          }, 2000);
        },
        function (error) {
          console.log("FAILED...", error);
          status.classList.remove("hidden");
          status.textContent = "Algo salió mal, intenta nuevamente.";
          status.classList.remove("text-green-400");
          status.classList.add("text-red-400");
          setTimeout(() => {
            status.classList.add("hidden");
          }, 2000);
        }
      );
    } catch (error) {}
  });
</script>
