---
const personalImageAlt = "Miguel Aragon";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHub from "./icons/GitHub.astro";
import Doc from "./icons/Doc.astro";
---

<div class="w-full h-full gap-6">
  <div
    class="flex flex-col gap-4 mb-6 h-full w-full flex items-center justify-center"
    data-aos="fade-right"
    data-aos-duration="1500"
  >
    <img
      class="rounded-full shadow-lg size-48"
      src="/me2.jpeg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/miguel-arag%C3%B3n-2726bb267/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>

  <div data-aos="fade-left" data-aos-duration="1500" class="w-full">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white text-center"
    >
      <span id="element"></span>
    </h1>

    <p
      class="mt-6 text-xl text-gray-800 text-center dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      Profesional con formación en Informática Empresarial,<strong>
        con habilidades sólidas en desarrollo de sotfware, resolución de problemas
        técnicos, trabajo en equipo y atención al detalle.
      </strong> Además con experiencia en el
      diseño, desarrollo y despliegue de soluciones web. Apasionado por la
      creación de aplicaciones eficientes y centradas en el usuario,
      
    </p>
    <nav class="flex flex-wrap gap-4 mt-10 md:justify-center md:items-center">
      <SocialPill href="https://github.com/miguelaragonh">
        <GitHub class="size-6" />
        Github
      </SocialPill>
      <SocialPill
        href="https://www.linkedin.com/in/miguel-arag%C3%B3n-2726bb267/"
      >
        <LinkedInIcon class="size-6" />
        LinkedIn
      </SocialPill>
      <SocialPill href="/#contacto" >
        <MailIcon class="size-6" />
        Contáctame
      </SocialPill>

      <SocialPill
        href="https://www.canva.com/design/DAGgmAdKSJE/TBWuBYcqkiFGCRFrBUXGMg/edit?utm_content=DAGgmAdKSJE&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
      >
        <Doc width={20} height={20} class="size-6" />
        Curriculum
      </SocialPill>
    </nav>
    
  </div>
  <script src="./typeWritter"></script>
</div>
