---
const personalImageAlt = "Miguel Aragon";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHub from "./icons/GitHub.astro";
---

<div class="max-w-xl" >
  <div class="flex gap-4 mb-4" data-aos="fade-right" data-aos-duration="1500">
    <img
      class="rounded-full shadow-lg size-32"
      src="/me2.jpeg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/miguel-arag%C3%B3n-2726bb267/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>

  <div   data-aos="fade-left" data-aos-duration="1500">
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Miguel Aragón
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Estudiante de Informática con habilidades excepcionales en <strong
      >Desarrollador de Software,</strong
    > diseño de sistemas y resolución de problemas tecnológicos.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://github.com/miguelaragonh">
      <GitHub class="size-6" />
      Github
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/miguel-arag%C3%B3n-2726bb267/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="mailto:miguelaragon.dev@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
  </nav>
</div>
</div>
