---
import Html5 from "@/components/icons/Html5.astro";
import Css3 from "@/components/icons/Css3.astro";
import JS from "@/components/icons/JS.astro";
import React from "@/components/icons/React.astro";
import Bootstrap from "@/components/icons/Bootstrap.astro";
import GitHub from "@/components/icons/GitHub.astro";
import Php from "@/components/icons/Php.astro";
import Mysql from "@/components/icons/Mysql.astro";
import Nodejs from "@/components/icons/Nodejs.astro";
import Python from "@/components/icons/Python.astro";
import Laravel from "@/components/icons/Laravel.astro";
import Sql from "@/components/icons/Sql.astro";
import Java from "./icons/Java.astro";
import Sequelize from "./icons/Sequelize.astro";
import Drupal from "./icons/Drupal.astro";

const tecnologias = [
  {
    icono: `<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-html5" width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" /><path d="M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5" /></svg>`,
    title: "Html",
    level: "Basico",
  },
];
---

<div
  class="flex flex-wrap gap-y-10 justify-center"
  data-content
  id="skills"
  data-aos="fade-right"
  data-aos-offset="100"
  data-aos-easing="ease-in-sine"
>
  <div class="w-full md:w-1/2">
    <div class="grid grid-cols-2 gap-6">
      <div class="flex items-center">
        <Html5 width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">HTML5</h3>
      </div>
      <div class="flex items-center">
        <Css3 width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">CSS</h3>
      </div>
      <div class="flex items-center">
        <JS width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">JavaScript</h3>
      </div>
      <div class="flex items-center">
        <React width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">React.js</h3>
      </div>
      <div class="flex items-center">
        <Bootstrap width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">Bootstrap</h3>
      </div>
      <div class="flex items-center">
        <GitHub width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">GitHub</h3>
      </div>
      <div class="flex items-center">
        <Java width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">Java</h3>
      </div>
      <div class="flex items-center">
        <Nodejs width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">Express</h3>
      </div>  
    </div>
  </div>

  <div class="w-full md:w-1/2">
    <div class="grid grid-cols-2 gap-6">
      <div class="flex items-center">
        <Laravel width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">Laravel</h3>
      </div>
      <div class="flex items-center">
        <Mysql width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">MySQL</h3>
      </div>
      <div class="flex items-center">
        <Nodejs width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">Node.js</h3>
      </div>
      <div class="flex items-center">
        <Sql width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">SQL</h3>
      </div>
      <div class="flex items-center">
        <Python width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">Python</h3>
      </div>
      <div class="flex items-center">
        <Php width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">PHP</h3>
      </div>
      <div class="flex items-center">
        <Drupal width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">Drupal</h3>
      </div>
      <div class="flex items-center">
        <Sequelize width={45} height={45} />
        <h3 class="ml-4 text-xl font-semibold">Sequelize</h3>
      </div>
    </div>
  </div> 
</div>
